@charset 'utf-8';
$color: #333;
$sm-color: #666;
$l-font: 16px;
$xl-font: 18px;
$d-font: 14px;
$s-font: 12px;
$theme-color: #409eff;

$bg-color: #f7f7f7;
$white: #fff;
// $sm-theme:#409eff;
$danger: #f56c6c;
$success: #67c23a;
